<ion-header>
  <ion-toolbar>
    <ion-title>ToDos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="todoService.todos && todoService.todos.length > 0">
    <app-show-todo *ngFor="let todo of todoService.todos"
      (deleteTodo)="deleteTodo(todo.id)"
      [title]="todo.title"
      [body]="todo.body">
    </app-show-todo>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
